:root {
  --color-background: #F0F0F7;
  --color-background-card: #FFF;
  --color-primary: #008270;
  --color-secundary: #77ff94;
  --color-text-in-primary: #FFFF;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

